<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StaticAnalyzatorForCSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StaticAnalyzatorForCSharp.Properties.Settings>
            <setting name="ifWarningMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isThrowWarningMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isUpperSymbolInMethodMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLowerSymbolInVariableMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logicNotEqualsFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ifStateEquals" serializeAs="String">
                <value>False</value>
            </setting>
        </StaticAnalyzatorForCSharp.Properties.Settings>
    </userSettings>
</configuration>